.spw-form .loading {
  background: url("../img/wpspin_light.gif") no-repeat scroll center center/16px 16px rgba(0, 0, 0, 0);
  background-size: 16px 16px;
  display: none;
  opacity: .7;
  filter: alpha(opacity=70);
  width: 100%;
  height: 16px; }
.spw-form .no-results {
  text-align: center;
  font-weight: bold; }
.spw-form .search-result,
.spw-form .selected-post {
  padding: .5em;
  border: 1px solid #e5e5e5;
  background: #fafafa;
  margin-bottom: .5em; }
  .spw-form .search-result:hover, .spw-form .search-result:active,
  .spw-form .selected-post:hover,
  .spw-form .selected-post:active {
    border-color: #999999; }
  .spw-form .search-result:last-child,
  .spw-form .selected-post:last-child {
    margin-bottom: 1em; }
  .spw-form .search-result .spw-plus,
  .spw-form .search-result .spw-minus,
  .spw-form .selected-post .spw-plus,
  .spw-form .selected-post .spw-minus {
    padding-left: .5em;
    padding-right: .5em;
    margin-right: .5em;
    font-weight: bold;
    background: black;
    color: white;
    cursor: pointer;
    display: block;
    float: left; }
.spw-form .spw-search-button {
  padding-top: 3px;
  width: 10%;
  height: 27px; }
.spw-form .spw-search {
  width: 87%; }
.spw-form .selected-post {
  cursor: move; }
